<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sailing.dao.CommentMapper">
    <resultMap id="BaseResultMap" type="com.sailing.entity.Comment">
        <id column="comment_id" property="commentid"></id>
        <result column="antique_id"  property="antid"></result>
        <result column="uid"  property="uid"></result>
        <result column="comment_test"  property="comment_test"></result>
        <result column="username"  property="username"></result>
        <result column="comment_time"  property="commentTime"></result>
    </resultMap>
    <select id="selectByAntid" resultMap="BaseResultMap">
        select *
        from comment
        where antique_id=#{antid}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from comment
       where 1=1
        <if test="username !=null and username != ''">
           AND username like concat('%',#{username},'%')
       </if>
       <if test="antid !=null and antid != ''">
           AND antique_id like concat('%',#{antid},'%')
       </if>


    </select>
    <select id="selectAllno" resultMap="BaseResultMap">
        select  *
        from comment
    </select>
    <delete id="delByCommentId" parameterType="java.lang.Integer">
        delete
        from comment
        where comment_id=#{connentid}
    </delete>
    <insert id="insertComment" keyProperty="comment_id" useGeneratedKeys="true" parameterType="com.sailing.entity.Comment">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="antid !=null">
                antique_id,
            </if>
            <if test="uid !=null">
                uid,
            </if>
            <if test="comment_test !=null">
                comment_test,
            </if>
            <if test="username !=null">
                username,
            </if>
            <if test="commentTime !=null">
                comment_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="antid !=null">
                #{antid},
            </if>
            <if test="uid !=null">
                #{uid},
            </if>
            <if test="comment_test !=null">
                #{comment_test},
            </if>
            <if test="username !=null">
                #{username},
            </if>
            <if test="commentTime !=null">
                #{commentTime},
            </if>
        </trim>
    </insert>
</mapper>